@{
    ViewBag.Title = "Home Page";
    string pictureUrl = "https://nevenaiep.blob.core.windows.net/" + "iep-container" + "/" + "46353d8a-afbf-435d-ae31-46dce3e8b418-savant-products.png";
    string pictureUrl1 = "https://nevenaiep.blob.core.windows.net/" + "iep-container" + "/" + "5c5e5e6b-2116-4c7d-90e8-76544748a999-win10.jpg";
    string pictureUrl2 = "https://nevenaiep.blob.core.windows.net/" + "iep-container" + "/" + "62efd556-3e60-4d39-8dac-86039856fec8-win8.png";
    string pictureUrl3 = "https://nevenaiep.blob.core.windows.net/" + "iep-container" + "/" + "9e778157-56a2-47f8-b95c-fa15350bb758-office.png";

}

<div class="row">
    <br/><br />
      <img src="@pictureUrl" width="1200" >
    
</div>

<div class="row">
    <h1> Trending </h1>
    <div class="col-md-4">
        <h2>Windows 10</h2>
        <p>
            Windows 10 is familiar and easy to use, with lots of similarities to Windows 7 
            including the Start menu. It starts up and resumes fast, has more built-in security
             to help keep you safe, and is designed to work with software and hardware you already
             have.
        </p>
        <img src="@pictureUrl1" width="350" height="250">
    </div>
    <div class="col-md-4">
        <h2>Windows 8</h2>
        <p>Windows 8 hasn't done fantastically well in terms of public reception - even
             leading some at Microsoft to say that the company's "Start Screen first"
             mentality was wide of the mark. Sales of the software also struggled at first,
             but after 90 days, 
        </p><img src="@pictureUrl2" width="350" height="250"> </div>
    <div class="col-md-4">
        <h2>Office 2015</h2>
        <p>New features in the Windows release include the ability to create, open, edit,
         and save files in the cloud straight from the desktop, a new search tool for 
        commands available in Word, PowerPoint, and Excel named "Tell Me", and co-authoring
         in real time.
            </p> 
        <img src="@pictureUrl3" width="350" height="250"> 
    </div>
</div>